@page "/overview/inicioperiodo/{idempresa:int}/{idgestion:int}"
@using global::Services.Gestion
@using global::Services.Periodo
@layout PeriodoDashboard
@inject GestionServices GestionServices
@inject PeriodoService PeriodoService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime


<NavBarComponent IdEmpresa="@IdEmpresa"/>

<MudStack Row="true"
          AlignItems="AlignItems.Center"
          Spacing="6"
          Justify="Justify.SpaceBetween"
          Style="margin-right: 0;">
    <MudText Typo="Typo.h5"
             Align="Align.Center"
             GutterBottom="true">
        <MudTooltip Text="Volver a gestion">
            <MudIconButton Size="Size.Medium"
                           Icon="@Icons.Material.Filled.ArrowBack"
                           Color="Color.Dark"
                           OnClick="@(GoBack)"
                           Style="align-self: center"/>
        </MudTooltip>
        Administracion del periodo de la gestion: @_gestionDto.Nombre
    </MudText>
    <div style="display: flex; align-items: center;">
        <MudButton Class="ma-4 rounded-pill"
                   Color="Color.Success"
                   StartIcon="@Icons.Material.Filled.Add"
                   @onclick="@ShowMudCrearPeriodonModal"
                   Variant="Variant.Filled"
                   Style="justify-self: flex-end; align-self: center">
            <MudText Typo="Typo.button">Agregar Periodo</MudText>
        </MudButton>
    </div>
</MudStack>

<MudDivider DividerType="DividerType.Middle"
            Light="false"
            Style="border-top-width: 3px;"
            Class="mb-5"/>

<MudTable Items="@_periodos"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          Bordered="true"
          Striped="true"
          Elevation="3"
          Class="fade-in"
          Style="border-radius: 15px; margin-right: 0;"
          RowsPerPage="6"
          @ref="_table">
    <HeaderContent>
        <MudTh> Nombre</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PeriodoDto, object>(x => x.FechaInicio)"
                               InitialDirection="SortDirection.Ascending">
                Fecha de inicio
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Fecha de cierre</MudTh>
        <MudTh>Estado</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha de inicio">@context.FechaInicio?.ToString("d")</MudTd>
        <MudTd DataLabel="Fecha de cierre">@context.FechaFin?.ToString("d")</MudTd>
        <MudTd DataLabel="Estado">
            <MudChip Icon="@Icons.Material.Filled.EventAvailable" Color="Color.Info">
                @context.Estado
            </MudChip>
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudStack Row="true">
                <MudTooltip Text="Editar Gestion" ShowOnClick="false"
                            ShowOnFocus="false">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Warning"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Edit"
                                   OnClick="() => EditarPeriodo(context)"/>
                </MudTooltip>
                <MudTooltip Text="Eliminar Gestion" ShowOnClick="@false"
                            ShowOnFocus="false">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="() => BorrarPeriodo(context)"/>
                </MudTooltip>
            </MudStack>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
            <MudPagination SelectedChanged="PageChanged"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           ShowFirstButton="true"
                           ShowLastButton="true"/>
        </MudStack>
    </PagerContent>
</MudTable>