@using ButtonType = MudBlazor.ButtonType
@using BlazorFrontend.Services
@using global::Services.Moneda
@inject HttpClient HttpClient
@inject EmpresaService EmpresaService
@inject MonedaService MonedaService

<MudDialog Style="border-radius: 15px;">
    <DialogContent>
        <EditForm Model="@EmpresaDto"
                  OnValidSubmit="UpsertEmpresa">
            <DataAnnotationsValidator/>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <MudTextField Required="true"
                                  Label="Nombre"
                                  @bind-Value="@EmpresaDto.Nombre"
                                  For="@(() => EmpresaDto.Nombre)"/>
                </div>
                <div class="col-md-6 mb-4">
                    <MudTextField Required="true" Label="NIT"
                                  @bind-Value="@EmpresaDto.Nit"
                                  For="@(() => EmpresaDto.Nit)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <MudTextField Required="true"
                                  Label="Sigla"
                                  @bind-Value="@EmpresaDto.Sigla"
                                  For="@(() => EmpresaDto.Sigla)"/>
                </div>
                <div class="col-md-6 mb-4">
                    <MudTextField Label="Telefono"
                                  @bind-Value="@EmpresaDto.Telefono"
                                  For="@(() => EmpresaDto.Telefono)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <MudTextField Label="Direccion" @bind-Value="@EmpresaDto.Direccion"
                                  For="@(() => EmpresaDto.Direccion)"/>
                </div>
                <div class="col-md-6 md-4">
                    <MudSelect @bind-Value="EmpresaDto.Niveles"
                               HelperText="Seleccione el nivel de la empresa"
                               Label="Niveles"
                               Variant="Variant.Text">
                        @foreach (var item in _listaNiveles)
                        {
                            <MudSelectItem Value="@item">
                                @item
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <ValidationMessage For="@(() => EmpresaDto.Niveles)"/>
                </div>
            </div>
            <MudSelect T="string" Label="Moneda"
                       AnchorOrigin="Origin.BottomCenter"
                       @bind-Value="@SelectedMoneda"
                       HelperText="Seleccione una moneda"
                       Variant="Variant.Text">
                @foreach (var moneda in _monedas)
                {
                    <MudSelectItem Value="@moneda.Nombre">@moneda.Nombre</MudSelectItem>
                }
            </MudSelect>
            <MudTextField Label="Correo" @bind-Value="@EmpresaDto.Correo"
                          For="@(() => EmpresaDto.Correo)"/>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text"
                   Color="Color.Dark"
                   OnClick="Cancel"
                   StartIcon="@Icons.Material.Rounded.Cancel">
            Cancelar
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   ButtonType="ButtonType.Submit"
                   Color="Color.Success"
                   OnClick="UpsertEmpresa"
                   Disabled="Processing"
                   Class="rounded-pill"
                   StartIcon="@Icons.Material.Rounded.Add">
            @if (Processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small"
                                     Indeterminate="true"
                                     Color="Color.Success"/>
            }
            else
            {
                <MudText Align="Align.Center">
                    Agregar
                </MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>