@page "/gestion/overview/{idempresa:int}"
@using global::Services.Gestion
@using Size = MudBlazor.Size
@inject GestionServices GestionServices
@inject NavigationManager NavigationManager
@layout DashboardLayout
@inject IDialogService DialogService

<NavBarComponent IdEmpresa="@IdEmpresa"/>
<h3>Lista de gestiones</h3>

<MudTable Items="@_gestiones" Hover="true" Breakpoint="Breakpoint.Sm" Bordered="true"
          Striped="true">
    <HeaderContent>
        <MudTh> Nombre</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<GestionDto, object>(x => x.FechaInicio)"
                               InitialDirection="SortDirection.Ascending">
                Fecha de inicio
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Fecha de cierre</MudTh>
        <MudTh>Estado</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha de inicio">@context.FechaInicio?.ToString("d")</MudTd>
        <MudTd DataLabel="Fecha de cierre">@context.FechaFin?.ToString("d")</MudTd>
        <MudTd DataLabel="Estado">
            <MudChip Icon="@Icons.Material.Filled.EventAvailable" Color="Color.Info">
                @context.Estado
            </MudChip>
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudStack Row="true">
                <MudTooltip Text="Editar Gestion" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Warning"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Edit"
                                   OnClick="() => EditarGestion(context)"/>
                </MudTooltip>
                <MudTooltip Text="Eliminar Gestion" ShowOnClick="@false"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="() => BorrarGestion(context)"/>
                </MudTooltip>
                <MudTooltip Text="Acceder a Periodos" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Secondary"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.AccessTime"
                                   OnClick="() => NavigateToPage(context)"/>
                </MudTooltip>
            </MudStack>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudTooltip Text="Borre una gestion para agregar una nueva"
            ShowOnHover="@(VerifyGestiones())"
            ShowOnFocus="@(VerifyGestiones())">
    <MudFab Disabled="@(VerifyGestiones())"
            Class="ma-4" Color="Color.Success"
            StartIcon="@Icons.Material.Filled.Add"
            @onclick="@ShowMudCrearGestionModal" Label="Agregar Gestion"/>
</MudTooltip>