@page "/gestion/overview/{idempresa:int}"
@using global::Services.Gestion
@using global::Services.Periodo
@using Size = MudBlazor.Size
@inject GestionServices GestionServices
@inject NavigationManager NavigationManager
@layout DashboardLayout
@inject IDialogService DialogService
@inject PeriodoService PeriodoService

<NavBarComponent IdEmpresa="@IdEmpresa"/>


<MudStack Row="true"
          AlignItems="AlignItems.Center"
          Spacing="6"
          Justify="Justify.SpaceBetween"
          Style="margin-right: 0;">
    <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
        Lista de gestiones
    </MudText>
    <div style="display: flex; align-items: center;">
        <MudTooltip Text="Borre una gestion para agregar una nueva"
                    ShowOnHover="@(VerifyGestiones())"
                    ShowOnFocus="@(VerifyGestiones())">
            <MudButton Disabled="@(VerifyGestiones())"
                       Style="justify-self: flex-end; align-self: center"
                       Class="mb-4 rounded-pill"
                       Color="Color.Success"
                       StartIcon="@Icons.Material.Filled.Add"
                       @onclick="@ShowMudCrearGestionModal" Label="Agregar Gestion"
                       Variant="Variant.Filled">
                <MudText Typo="Typo.button">Agregar Gestion</MudText>
            </MudButton>
        </MudTooltip>
    </div>
</MudStack>
<MudDivider DividerType="DividerType.Middle"
            Light="false"
            Style="border-top-width: 3px;"
            Class="mb-5"/>

<MudTable Items="@_gestiones"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          Bordered="true"
          Striped="true"
          Elevation="3"
          Class="fade-in"
          Style="border-radius: 15px; margin-right: 0;">
    <HeaderContent>
        <MudTh> Nombre</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<GestionDto, object>(x => x.FechaInicio)"
                               InitialDirection="SortDirection.Ascending">
                Fecha de inicio
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Fecha de cierre</MudTh>
        <MudTh>Estado</MudTh>
        <MudTh Style="text-align: center">Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha de inicio">@context.FechaInicio?.ToString("d")</MudTd>
        <MudTd DataLabel="Fecha de cierre">@context.FechaFin?.ToString("d")</MudTd>
        <MudTd DataLabel="Estado">
            <MudChip Icon="@Icons.Material.Filled.EventAvailable" Color="Color.Info">
                @context.Estado
            </MudChip>
        </MudTd>
        <MudTd DataLabel="Acciones" Style="text-align: center">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudTooltip Text="Editar Gestion" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Warning"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Edit"
                                   OnClick="() => EditarGestion(context)"/>
                </MudTooltip>
                <MudTooltip Text="Eliminar Gestion" ShowOnClick="@false"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="() => BorrarGestion(context)"/>
                </MudTooltip>
                <MudTooltip Text="Acceder a Periodos" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Secondary"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.AccessTime"
                                   OnClick="() => NavigateToPage(context)"/>
                </MudTooltip>
            </MudStack>
        </MudTd>
    </RowTemplate>
</MudTable>