@page "/gestion/overview/{idempresa:int}"
@using global::Services.Gestion
@using Size = MudBlazor.Size
@inject GestionServices GestionServices
@inject NavigationManager NavigationManager
@layout DashboardLayout
@inject IDialogService DialogService

<MudAppBar Elevation="1" Dense="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
                   Edge="Edge.Start"
                   OnClick="@ToggleDrawer"/>
    <MudSpacer/>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                   Color="Color.Inherit"
                   Link="https://github.com/MudBlazor/MudBlazor"
                   Target="_blank"/>
</MudAppBar>

<MudDrawer @bind-Open="@_open"
           ClipMode="DrawerClipMode.Docked"
           Elevation="1"
           Variant="@DrawerVariant.Responsive"
           PreserveOpenState="true"
           Breakpoint="Breakpoint.Md"
           OpenMiniOnHover="true">
    <MudNavMenu>
        <MudNavGroup Icon="@Icons.Material.Filled.Business"
                     Title="Contabilidad"
                     @bind-Expanded=IsExpanded>

            <MudNavLink Icon="@Icons.Material.Filled.CalendarMonth"
                        Disabled="true">
                Gestiones
            </MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.AccountBalance"
                        Href="/security"
                        Disabled="true">
                Plan de Cuentas
            </MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.SwapHorizontalCircle"
                        Href="/security"
                        OnClick="CambiarEmpresa">
                Cambiar empresa
            </MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>

<h3>Lista de gestiones activas</h3>
<MudDataGrid T="GestionDto"
             Items="@_gestiones"
             Hover="@true"
             Readonly="@false"
             EditMode="DataGridEditMode.Form"
             Bordered="@true"
             EditTrigger="DataGridEditTrigger.Manual">
    <Columns>
        <PropertyColumn Property="@(i => i.Nombre)"/>
        <PropertyColumn Property="@(i => i.FechaInicio)" Title="Fecha de inicio"/>
        <PropertyColumn Property="@(i => i.FechaFin)" Title="Fecha de cierre"/>
        <PropertyColumn Property="@(i => i.Estado)"/>
        <TemplateColumn CellClass="d-flex justify-center">
            <CellTemplate>
                <MudTooltip Text="Editar Gestion" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Warning"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Edit"
                                   OnClick="() => EditarGestion(context.Item)"/>
                </MudTooltip>
                <MudTooltip Text="Eliminar Gestion" ShowOnClick="@false">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="() => BorrarGestion(context.Item)"/>
                </MudTooltip>
                <MudTooltip Text="Acceder a Periodos" ShowOnClick="Click"
                            ShowOnFocus="Focus">
                    <MudIconButton Class="pa-1"
                                   Color="Color.Info"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Timelapse"
                                   OnClick="() => NavigateToPage(context.Item)"/>
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<MudTooltip Text="Borre una gestion para agregar una nueva"
            ShowOnHover="@(VerifyGestiones())"
            ShowOnFocus="@(VerifyGestiones())">
    <MudFab Disabled="@(VerifyGestiones())"
            Class="ma-4" Color="Color.Success"
            StartIcon="@Icons.Material.Filled.Add"
            @onclick="@ShowMudCrearGestionModal" Label="Agregar Gestion"/>
</MudTooltip>