@page "/plandecuentas/overview/{idempresa:int}"
@using global::Services.Cuenta
@inject NavigationManager NavigationManager
@inject CuentaService CuentaService
@layout CuentasOverviewLayout


<MudAppBar Elevation="1" Dense="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
                   Edge="Edge.Start"
                   OnClick="@ToggleDrawer"/>
    <MudSpacer/>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                   Color="Color.Inherit"
                   Link="https://github.com/MudBlazor/MudBlazor"
                   Target="_blank"/>
</MudAppBar>


<MudDrawer @bind-Open="@_open"
           ClipMode="DrawerClipMode.Docked"
           Elevation="1"
           Variant="@DrawerVariant.Responsive"
           PreserveOpenState="true"
           Breakpoint="Breakpoint.Md"
           OpenMiniOnHover="true">
    <MudNavMenu>
        <MudNavGroup Icon="@Icons.Material.Filled.Business"
                     Title="Contabilidad"
                     @bind-Expanded=IsExpanded>

            <MudNavLink Icon="@Icons.Material.Filled.CalendarMonth"
            >
                Gestiones
            </MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.AccountBalance"
                        Disabled="true">
                Plan de Cuentas
            </MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.SwapHorizontalCircle"
                        OnClick="CambiarEmpresa">
                Cambiar empresa
            </MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>

<h1>@IdEmpresa</h1>