@page "/inicio/overview/{id?}"
@using global::Services.Gestion
@using Microsoft.AspNetCore.WebUtilities
@using SortDirection = MudBlazor.SortDirection
@using Size = MudBlazor.Size
@using BlazorFrontend.Pages.Components
@inject GestionServices GestionServices
@inject NavigationManager NavigationManager
@layout DashboardLayout
@inject IDialogService DialogService

<h3>Lista de gestiones activas</h3>
<MudTable Striped="true" Bordered="true" Items="_gestiones.Take(2)" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="1">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<GestionDto, object>(x => x.Nombre)">
                Nombre
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<GestionDto, object>(x => x.FechaInicio)" InitialDirection="SortDirection.Ascending">
                Inicio de la gestion
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<GestionDto, object>(x => x.FechaFin)">
                Fin de la gestion
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<GestionDto, object>(x => x.Estado)">
                Estado actual
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            Acciones
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha Inicio">@context.FechaInicio.ToShortDateString()</MudTd>
        <MudTd DataLabel="Fecha Fin">@context.FechaFin.ToShortDateString()</MudTd>
        <MudTd DataLabel="Estado">@context.Estado</MudTd>
        <MudTd DataLabel="Acciones">
            <MudStack Row="true" Spacing="3">
                <MudTooltip Text="Editar">
                    <MudFab Color="Color.Warning" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small"/>
                </MudTooltip>
                <MudTooltip Text="Cerrar gestion">
                    <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Lock" Size="Size.Small"/>
                </MudTooltip>
                <MudTooltip Text="??? todavia">
                    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Note" Size="Size.Small"/>
                </MudTooltip>
            </MudStack>
        </MudTd>
    </RowTemplate>
</MudTable>
<MudFab Class="ma-4" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add"
                @onclick="@ShowMudCrearGestionModal" Label="Agregar Gestion"/>

@code {
    private IEnumerable<GestionDto> _gestiones = new List<GestionDto>();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var uri = new Uri(NavigationManager.Uri);
            var query = QueryHelpers.ParseQuery(uri.Query);
            if (query.TryGetValue("id", out var idValue))
            {
                Id = int.Parse(idValue!);
                _gestiones = await GestionServices.GetGestionAsync(Id);
            }
            else
            {
                throw new KeyNotFoundException("The 'id' parameter was not found in the query string.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while initializing the component: {ex}");
        }
    }

    private void ShowMudCrearGestionModal()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };
        var parameters = new DialogParameters
        {
            { "Id", Id }
        };
        DialogService.ShowAsync<_MudModalCrearGestion>("Llene los datos de la gestion",
            parameters,options);
    }
}